/*
 * DatePicker Fixes
 */

.picker { outline: none; } /* Optional feature */
.picker__frame { width: 310px; }
/* Header - Day of the week */
.picker__weekday-display { background-color: #2196F3; }
/* Body - Today info */
.picker__date-display { background-color: #42A5F5; }
/* Buttons of actions */
.picker__nav--prev:hover { background-color: #E3F2FD; }
.picker__nav--next:hover { background-color: #E3F2FD; }
.picker__nav--prev:before {
    border-left: 0;
    border-right: 0.75em solid #64B5F6;
}
.picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid #64B5F6;
}
.picker__today { color: #42A5F5; padding: 0}
.picker__clear { padding: 0}
.picker__close { color: #42A5F5; padding: 0}
.btn-flat.picker__today:active { background-color: #E3F2FD; }
.btn-flat.picker__close:active { background-color: #E3F2FD; }
.btn-flat.picker__clear:active { background-color: #E3F2FD; }
/* Select months of the year */
.picker__select--month.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 34%;
    border: none;
    outline: none;
}
/* Every month of the year except: today */
.picker__day--infocus:hover { color: #2196F3; }
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { color: #2196F3; }
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color: #90CAF9; }
/* Today */
.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted { background-color: #42A5F5; }
.picker__day.picker__day--today { color: #2196F3; }

.picker__date-display {
    display: none;
}

/*
 *
 */

.dropdown-content li>a, .dropdown-content li>span {
    color: #29b6f6;
}

.valign-wrapper {
    justify-content: center;
    height: 85vh;
}